@model XDeco.ViewModel.CarritoViewModel

    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<div class="row mt-5 pt-5 p-2">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="product-details mr-2">
                        <div class="d-flex justify-content-between">
                            <span class="ml-2">Detalle Compra</span>
                            <a class="btn btn-danger" href="@Url.Action("Index","Catalogo")">Volver</a>
                        </div>
                        <hr class="mt-2 mb-2">
                        <div class="justify-content-start mb-2">
                            Tienes <span id="cantidad-articulos" class="ml-1">@Model.CarritoProductos.Count</span> artículo(s) en tu carrito
                        </div>
                        <div id="productos-seleccionados">
                            @if (Model.CarritoProductos != null && Model.CarritoProductos.Any())
                            {
                                @foreach (var item in Model.CarritoProductos)
                                {
                                    <div class="card mb-2 card-producto">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-1">
                                                    <img class="rounded" src="https://promart.vteximg.com.br/arquivos/ids/4184027-1000-1000/10063512.jpg?v=637794398966000000" width="50" />
                                                </div>
                                                <div class="col-7">
                                                    <div class="ml-2">
                                                        <span class="font-weight-bold d-block">@item.Nombre</span>
                                                        <span class="float-end">Precio : S/. @item.Precio</span>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="d-flex justify-content-end controles">
                                                        <button class="btn btn-outline-secondary btn-restar rounded-0" type="button"><i class="fas fa-minus"></i></button>
                                                        <input class="form-control input-cantidad p-1 text-center rounded-0" style="width: 40px;" disabled="disabled" value="@item.Cantidad" data-precio="@item.Precio" data-idproducto="@item.ProductoId" />
                                                        <button class="btn btn-outline-secondary btn-sumar rounded-0" type="button"><i class="fas fa-plus"></i></button>
                                                    </div>
                                                </div>
                                                <div class="col-1">
                                                    <button class="btn btn-outline-danger btn-eliminar" data-informacion='{ "_IdProducto": @item.ProductoId }'><i class="far fa-trash-alt"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="payment-info">
                                        <div class="d-flex justify-content-between align-items-center"><span>Detalle de Tarjeta</span></div>
                                        <span class="type d-block mt-3 mb-1">Tipo de tarjeta</span>
                                        <label class="radio"> 
                                            <input type="radio" name="card" value="payment" checked> 
                                            <span><img width="60" src="https://brandemia.org/sites/default/files/sites/default/files/mastercard_pentagram_press-3.jpg" /></span> 
                                        </label>
                                        <label class="radio ml-2"> 
                                            <input type="radio" name="card" value="payment"> 
                                            <span><img width="60" src="https://www.visa.com.pe/dam/VCOM/regional/lac/SPA/Default/Partner%20With%20Us/Info%20for%20Partners/Info%20for%20Small%20Business/visa-pos-800x400.jpg" /></span> 
                                        </label>
                                        <div>
                                            <label class="credit-card-label mb-1 mt-2">Nombre del Titular</label>
                                            <input type="text" class="form-control credit-inputs" placeholder="Nombre" id="trj_nombre">
                                        </div>
                                        <div>
                                            <label class="credit-card-label mb-1 mt-2">Número de tarjeta</label>
                                            <input type="text" class="form-control credit-inputs" placeholder="0000 0000 0000 0000" id="trj_numero">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="credit-card-label mb-1 mt-2">Vigencia</label>
                                                <input type="text" class="form-control credit-inputs" placeholder="12/24" id="trj_vigencia">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="credit-card-label mb-1 mt-2">CVV</label>
                                                <input type="text" class="form-control credit-inputs" placeholder="342" id="trj_cvv">
                                            </div>
                                        </div>
                                        <hr class="line">
                                        <div class="d-flex justify-content-between information"><span>Total a Pagar</span><span id="totalPagar">S/. 0</span></div>
                                        <button class="btn btn-primary btn-block mt-3" id="btnProcesarPago" type="button">Procesar Pago</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--MODAL-->

<div class="modal fade" id="mdprocesopago" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Datos para envío</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-1">
                        <label for="txtDepartamento" class="col-form-label pt-0">Departamento:</label>
                        <input type="text" class="form-control control-validar" id="txtDepartamento" autocomplete="off">
                    </div>
                    <div class="mb-1">
                        <label for="txtProvincia" class="col-form-label">Provincia:</label>
                        <input type="text" class="form-control control-validar" id="txtProvincia" autocomplete="off">
                    </div>
                    <div class="mb-1">
                        <label for="txtDistrito" class="col-form-label">Distrito:</label>
                        <input type="text" class="form-control control-validar" id="txtDistrito" autocomplete="off">
                    </div>
                    <div class="mb-1">
                        <label for="txtContacto" class="col-form-label">Contacto:</label>
                        <input type="text" class="form-control control-validar" id="txtContacto" autocomplete="off">
                    </div>
                    <div class="mb-1">
                        <label for="txtTelefono" class="col-form-label">Teléfono:</label>
                        <input type="text" class="form-control control-validar" id="txtTelefono" autocomplete="off">
                    </div>
                    <div class="mb-1">
                        <label for="txtDireccion" class="col-form-label">Dirección:</label>
                        <input type="text" class="form-control control-validar" id="txtDireccion" autocomplete="off">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Regresar</button>
                <button type="button" class="btn btn-success" id="btnConfirmarCompra">Confirmar Compra</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        
        $(document).ready(function () {
            cargarCarrito();
            ListarDepartamento();
        });

        function cargarCarrito() {
            jQuery.ajax({
                url: '@Url.Action("Index", "Carrito")',
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $.LoadingOverlay("hide");
                    if (data.lista) {
                        $.each(data.lista, function (i, item) {
                            $("<div>").addClass("card mb-2 card-producto").append(
                                $("<div>").addClass("card-body").append(
                                    $("<div>").addClass("row").append(
                                        $("<div>").addClass("col-1").append(
                                            $("<img>").addClass("rounded").attr({ "src": "data:image/" + item.oProducto.extension + ";base64," + item.oProducto.base64, "width": "50" })
                                        ),
                                        $("<div>").addClass("col-7").append(
                                            $("<div>").addClass("ml-2").append(
                                                $("<span>").addClass("font-weight-bold d-block").text(item.oProducto.oMarca.Descripcion),
                                                $("<span>").addClass("spec").text(item.oProducto.Nombre),
                                                $("<span>").addClass("float-end").text("Precio : S./" + item.oProducto.Precio)
                                            )
                                        ),
                                        $("<div>").addClass("col-3").append(
                                            $("<div>").addClass("d-flex justify-content-end controles").append(
                                                $("<button>").addClass("btn btn-outline-secondary btn-restar rounded-0").append($("<i>").addClass("fas fa-minus")).attr({ "type": "button" }),
                                                $("<input>").addClass("form-control input-cantidad p-1 text-center rounded-0").css({ "width": "40px" }).attr({ "disabled": "disabled" }).val("1").data("precio", item.oProducto.Precio).data("idproducto", item.oProducto.IdProducto),
                                                $("<button>").addClass("btn btn-outline-secondary btn-sumar rounded-0").append($("<i>").addClass("fas fa-plus")).attr({ "type": "button" })
                                            )
                                        ),
                                        $("<div>").addClass("col-1").append(
                                            $("<button>").addClass("btn btn-outline-danger btn-eliminar").append($("<i>").addClass("far fa-trash-alt")).data("informacion", { _IdCarrito: item.IdCarrito, _IdProducto: item.oProducto.IdProducto })
                                        )
                                    )
                                )
                            ).appendTo("#productos-seleccionados");
                        });

                        obtenerPreciosPago();
                        obtenerCantidadProductos();
                    }
                },
                error: function (error) {
                    console.log(error);
                },
                beforeSend: function () {
                    $.LoadingOverlay("show");
                },
            });
        }

        $(document).on('click', '.btn-sumar', function () {
            var input = $(this).siblings("input.input-cantidad");
            var cantidad = parseInt(input.val()) + 1;
            input.val(cantidad);
            obtenerPreciosPago();
        });

        $(document).on('click', '.btn-restar', function () {
            var input = $(this).siblings("input.input-cantidad");
            var cantidad = Math.max(1, parseInt(input.val()) - 1);
            input.val(cantidad);
            obtenerPreciosPago();
        });

        $(document).on('click', '.btn-eliminar', function () {
            var json = $(this).data("informacion");
            var card_producto = $(this).closest("div.card-producto");

            jQuery.ajax({
                url: '@Url.Action("EliminarCarrito", "Carrito")',
                type: "POST",
                data: JSON.stringify({ IdCarrito: json._IdCarrito, IdProducto: json._IdProducto }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.resultado) {
                        card_producto.remove();
                        obtenerPreciosPago();
                        obtenerCantidadProductos();
                    } else {
                        alert("No se pudo eliminar");
                    }
                },
                error: function (error) {
                    console.log(error);
                },
            });
        });

        function obtenerPreciosPago() {
            var total = 0;
            $("input.input-cantidad").each(function () {
                var precio = parseFloat($(this).val()) * parseFloat($(this).data("precio"));
                total += precio;
            });
            $("#totalPagar").text("S/. " + total.toFixed(2));
        }

        function obtenerCantidadProductos() {
            var cantidad = $("#productos-seleccionados > div.card-producto").length;
            $("#cantidad-articulos").text(" " + cantidad + " ");
            $("#btnProcesarPago").prop("disabled", cantidad === 0);
        }

        $("#btnProcesarPago").on("click", function () {
            limpiarFormulario();

            if (validarFormulario()) {
                $("#mdprocesopago").modal("show");
            }
        });

        function limpiarFormulario() {
            $("#txtDepartamento").val("");
            $("#txtProvincia").val("");
            $("#txtDistrito").val("");
            $("#txtContacto").val("");
            $("#txtTelefono").val("");
            $("#txtDireccion").val("");
            $(".control-validar").removeClass("border border-danger");
        }

        function validarFormulario() {
            var esValido = true;

            if ($("#trj_nombre").val().trim() === "") {
                mostrarError("Debe ingresar nombre del titular");
                esValido = false;
            } else if ($("#trj_numero").val().trim() === "") {
                mostrarError("Debe ingresar número de la tarjeta");
                esValido = false;
            } else if ($("#trj_vigencia").val().trim() === "") {
                mostrarError("Debe ingresar vigencia de la tarjeta");
                esValido = false;
            } else if ($("#trj_cvv").val().trim() === "") {
                mostrarError("Debe ingresar CVV de la tarjeta");
                esValido = false;
            }

            return esValido;
        }

        function mostrarError(mensaje) {
            $("#mensaje-error").text(mensaje);
            $('#toast-alerta').toast('show');
        }

        $("#btnConfirmarCompra").on("click", function () {
            // Aquí iría la lógica para procesar el pago y finalizar la compra.
            var datosCompra = {
                nombre: $("#trj_nombre").val(),
                numeroTarjeta: $("#trj_numero").val(),
                vigencia: $("#trj_vigencia").val(),
                cvv: $("#trj_cvv").val(),
                direccion: $("#txtDireccion").val(),
                contacto: $("#txtContacto").val(),
                telefono: $("#txtTelefono").val(),
                departamento: $("#txtDepartamento").val(),
                provincia: $("#txtProvincia").val(),
                distrito: $("#txtDistrito").val(),
                // Incluye más datos según sea necesario
            };

            $.ajax({
            url: '@Url.Action("FinalizarCompra", "Carrito")',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(datosCompra),
            success: function (response) {
                if (response.resultado) {
                    alert("Compra Realizada");
                    window.location.href = '@Url.Action("Index", "Catalogo")'; 
                } else {
                    swal("Error", response.mensaje, "error");
                }
            },
            error: function (error) {
                console.log(error);
                swal("Error", "Ocurrió un error al procesar la compra.", "error");
            }
        });

    });

    </script>
}
