@page
@using Proyecto.Areas.Identity.Pages.Account
@model LoginModel
<h1>@ViewData["Title"]</h1>
    <div class="row">
        <!-- Imagen -->
        <div class="col-md-6 image-section">
            <img src="https://firebasestorage.googleapis.com/v0/b/xdeco-dc64f.appspot.com/o/Registro%2FXDECO2.jpg?alt=media&token=30b0f0ef-0279-4f45-8b32-3f281f886727"
                class="attachment-large size-large wp-image-8384 wvs-archive-product-image not-transparent lzl-cached lzl-ed"
                alt="Decorative Image" class="img-fluid" />
        </div>

        <!-- Formulario de login -->
        <div class="col-md-6 form-section">
            <h1 class="mb-4">Iniciar Sesión</h1>
            <section>
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"
                            placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="form-label">Correo electrónico</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password"
                            aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password" class="form-label">Contraseña</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Ingresar</button>
                    </div>
                    <div>
                        <!-- Image <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>-->
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Regístrate como nuevo
                                usuario</a>
                        </p>
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar confirmación por
                                correo electrónico</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
    </div>
    <div class="col-md-6 col-md-offset-2">
    @{
        if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
        }
        else
        {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post"
                    class="form-horizontal">
                    <div>
                        <p>
                        @foreach (var provider in Model.ExternalLogins!)
                        {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name"
                                    title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                        }
                        </p>
                    </div>
                </form>
        }
    }
        </section>
    </div>
    </div>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}

    <style>
        .login-container {
            display: flex;
            height: 100vh;
            justify-content: center;
            align-items: center;

        }

        .image-section {
            padding: 0;
            margin: 0;
        }

        .image-section img {
            height: 100vh;
            object-fit: cover;
            width: 100%;
        }

        .form-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 40px;
            background-color: #f8f9fa;
        }

        h1 {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        .form-floating {
            position: relative;
        }

        .form-control:focus {
            border-color: #8B4513;
            box-shadow: 0 0 0 0.2rem rgba(139, 69, 19, 0.25);
        }


        .form-control {
            background-color: #fff1e6;
        }

        #login-submit {
            background-color: #2b1f16;
            color: white;
            border: none;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }

        #login-submit:hover {
            background-color: #502405;
            transform: translateY(-2px);
        }
    </style>
